.text-container {
  opacity: 0;
  transition: opacity 0.5s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    
    opacity: 1;
  }
}
@keyframes in-out{
  from{
    color: white;
  }
  to{
    color: gold;
  }
  
}
span{
  margin-top: 20%;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  font-family: "space grotesk" , 'Times New Roman', Times, serif ;
  text-transform: uppercase;
  line-height: 2;
  background: linear-gradient(90deg, #009688, #9B59B6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;

}
.text-container.visible{
  opacity: 1;
  margin-top: 15%;
}
.text-container.visible .word-1{
  animation: fade-in 1s ease-in-out 200ms forwards 1;
}

.text-container.visible .word-2 {

  animation: fade-in 1s ease-in-out 600ms forwards;
}
.text-container.visible .word-3 {

  animation: fade-in 1s ease-in-out 1.2s forwards;
}
.text-container.visible .word-4 {

  animation: fade-in 1s ease-in-out 1.6s forwards;
}
.text-container.visible .word-5{
  color: azure;
  
    animation: fade-in 1s ease-in-out 2.4s forwards , in-out 1s ease-in-out 2.4s forwards;
    
}