.body-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec{
    margin-bottom: 20vh;
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
}
.image-container{
    align-self: flex-start;
    margin-left: 5vw;
}
.image-down{
    width: 40vw;
    height: auto;
    border-radius: 20px;
}
#boosting{
    width: 25vw;
    height: auto;
    margin-left: 10vw;
}
.text-part{
    width: 40vw;
    margin-right: 5vw;
}
.heading{
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 2vh;
    text-align: center;
    text-transform: capitalize;
    color: white;
    text-shadow: 5px 4px 6px rgba(173, 216, 230, 0.7);
        font-family: "space grotesk", 'Times New Roman', Times, serif;
    }
.showy--button{
    background-color: transparent;
    margin-top: 3vh;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    margin-left: 16vw;
    margin-bottom: 0;
}
.showy--button:hover{
    background: linear-gradient(25deg, #f49867, #ae67fa);
        transition: background 1s ease-in-out;
        border: none;
}
.list{
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    list-style: none;
    margin-left: 0;
}
.list-item{
    margin-bottom: 2%;
    color: blueviolet;
    font-family: "space grotesk" , 'Times New Roman', Times, serif ;
    margin-left: -10px;
}
.image-container-right{
    margin-right: 10vw;
}
.text-part-01{
    width: 40vw;
        margin-left: 5vw;
}
.span-heading{
    opacity: 1;
    text-shadow: none;
    font-size: 2.6vw;
    background-color: gold;
    -webkit-background-clip: none;
}
.call-to-action-01{
    background: linear-gradient(90deg, #009688, #9B59B6);
        -webkit-background-clip: text;
        /* For better browser compatibility */
        color: transparent;
        font-size: 55px;
        width: 80vw;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5vh;
        font-family: "space grotesk", 'Times New Roman', Times, serif;
        text-transform: uppercase;
        letter-spacing: 0.005em;
}
.let-us-talk{
    font-family: 'space grotesk', Times, serif;
        width: 300px;
        height: 80px;
        background: transparent;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        animation: translate-from-left 2s 1 both;
        transition: background 1s ease-in-out;
        border: 2px solid #fff;
        margin-bottom: 60vh;
}
.let-us-talk:hover{
    background: linear-gradient(25deg, #f49867, #ae67fa);
        transition: background 1s ease-in-out;
        border: none;
}