.footer-section{
  width:100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    background : linear-gradient(90deg,
      #009688,
      #9B59B6);
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
}
.footer-section-copyright{
  display: flex;
  padding-left: 20px;
}
.footer-section-social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: black;
  padding-right: 50px;
  padding-left: 20px ;
}
.instagram-icon{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  align-self: flex-end;
  margin: 10px;
}