::root{
  --animation-left : translate-from-left 2s ease-in-out 1 both;
}

.header-section{
    width : 100vw;
    height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    position: relative;
    background-image: url(../pink.svg ) , url(../gradients-3.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
@keyframes translate-from-left{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes rotate-image{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.image-section{
  
    align-content: center;
    margin-top: 30px;

    width: fit-content;
    height: 400px;
}
.image-header-section{
  animation: translate-from-left 2s  1 both , rotate-image 20s linear 2s infinite;
  transform-origin: 50% 56%;
  width: 80%;
  margin-left: 145px;
  z-index: -1;
}
@keyframes typing{
    0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 100%;
        border-left: none;
        opacity: 1;
    }
}
@keyframes disappear-border{
    0%{
        border-right: 2px solid #fff;
    }
    100%{
        border-right: none;
    }
}
.text-section{
  width: fit-content;
  height: fit-content;
  color: #fff;
  padding: 0;
  z-index: 1;
  width: fit-content;
  position: absolute;
    top: 50%;
    left: 5%;
}
.text-header-section{
  font-family: 'space grotesk', Times, serif;
background: linear-gradient(25deg, #f49867, #ae67fa);
    -webkit-background-clip: text;
    /* For better browser compatibility */
    color: transparent;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    /* Additional styling as needed */
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 40px;
  overflow: hidden;
  border-right: 2px solid #fff;
  white-space: nowrap;
  animation: typing 3s steps(30, end) 2s 1 forwards , disappear-border 2s 1 5100ms forwards;
  opacity: 0;
  width: 20%;

}
.lets-talk{
    font-family: 'space grotesk', Times, serif;
    position: absolute;
    top: 10%;
    left: 10%;
}

.button-lets-talk{
    font-family: 'space grotesk', Times, serif;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 200px;
    height: 50px;
    background: transparent;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    animation: translate-from-left 2s  1 both;
    transition: background 1s ease-in-out;
    border: 2px solid #fff;
}
.button-lets-talk:hover{
    background: linear-gradient(25deg, #f49867, #ae67fa);
    transition: background 1s ease-in-out;
    border: none;
}
.we-offer{
    font-family: 'space grotesk', Times, serif;
    position: absolute;
    top: 10%;
    right: 10%;

}
.we-offer-button{
    font-family: 'space grotesk', Times, serif;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 200px;
    height: 50px;
    background: transparent;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    animation: translate-from-left 2s  1 both;
    transition: background 1s ease-in-out;
    border: 2px solid #fff;
}

.we-offer-button:hover{
    background: linear-gradient(25deg, #f49867, #ae67fa);
    transition: background 1s ease-in-out;
    border: none;
}

